@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Playfair+Display&display=swap');

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 2%;
    h1{
        font-family: 'Inria Serif', serif;
        font-family: 'Playfair Display', serif;
    }
    .side{
        display: flex;
        align-items: center;
        a{
            width: 30px;
            margin-right: 20px;
            img{
                width: 100%;
            }
        }
        .face{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 20px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}
main{
    width: 80%;
    height: 80%;
    margin: 8% auto 0;
    border-radius: 25px;
    background-color : #D4B896;
    position: relative;
    .breed{
        width: 85%;
        margin: 0 auto;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        figure{
            width: 33.3%;
            position: relative;
            text-align: center;
            a{
                display: block;
                position: relative;
                img{
                    width: 45%;
                }
                figcaption{
                    position: absolute;
                    top: 50%;
                    left: 45%;
                    transform: translate(-50%, -50%);
                    color: #EAAD5A;
                    font-size: 1.2rem;
                    font-weight: 700;
                    width: 125px;
                }
            }
        }
    }
    .btn{
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-67%);
        button{
            &:first-child{
                border-radius: 25px;
                background-color: #fff;
                width: 50px;
            }
            &:last-child{
                border-radius: 25px;
                background-color: #fff;
                width: 50px;
            }
            border: none;
            width: 20px;
            height: 20px;
            margin: 0 2px;
            border-radius: 50%;
            background-color: #fff;
            &:hover{
                background-color: #EAAD5A;
                cursor: pointer;
                transform: translateY(-2px);
            }
            &[disabled] {
            background: rgb(197, 197, 197);
            cursor: revert;
            transform: revert;
            }
            &[aria-current] {
            background: #EAAD5A;
            font-weight: bold;
            cursor: revert;
            transform: revert;
            }
        }
    }
}