header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 2%;
    h1{
        font-family: 'Inria Serif', serif;
        font-family: 'Playfair Display', serif;
    }
    .side{
        display: flex;
        align-items: center;
        a{
            width: 30px;
            margin-right: 20px;
            img{
                width: 100%;
            }
        }
        .face{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 20px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}
main{
    width: 80%;
    height: 80%;
    margin: 8% auto 0;
    border-radius: 25px;
    background-color: #D4B896;
    position: relative;
    .dogBtn{
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        button{
            background-color: #fff;
            border: none;
            border-radius: 25px;
            width: 50px;
            height: 50px;
        }
    }
    .dogInner{
        overflow: hidden;
        display: flex;
        .dogs{
            flex-shrink: 0;
            width: 100%;
            display: flex;
            .dogImg{
                overflow: hidden;
                width: 40%;
                img{
                    width: 100%;
                }
            }
            .dogDetail{
                width: 50%;
            }
        }
    }
}